.main_head {
  width: 100%;
  height: rem(80px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.logo {
  position: relative;
  display: flex;
  align-items: center;
  .logo_img {
    max-width: rem(45px);
    width: 100%;
    height: rem(50px);
    margin-right: rem(15px);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  p {
    color: #00e0d0;
    font: 400 rem(30px)/1 "Roboto";
  }
}

.header_nav {
  position: relative;
  ul {
    display: flex;
    li {
      color: #ffffff;
      text-transform: uppercase;
      letter-spacing: rem(0.33px);
      font: 900 rem(15px)/1 "Roboto";
      transition: .3s;
      margin-right: rem(20px);
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        color: $blue-color;
      }
    }
  }
}

.btn_menu {
  display: none;
  flex-direction: column;
  position: relative;
  top: 0;
  left: 0;
  z-index: 3;
  cursor: pointer;
  li {
    border-radius: rem(2px);
    width: rem(34px);
    height: 3px;
    transition: background-color .4s, transform .4s, -webkit-transform .4s;
    background-color: #fff;
    &:nth-child(2) {
      margin: rem(8px) 0;
    }
  }

  &.active {
    z-index: 110;
    li {
      background-color: $blue-color;
      &:first-child {
        -webkit-transform: rotate(-220deg) translate(10px, -9px);
        transform: rotate(-220deg) translate(10px, -9px);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:last-child {
        -webkit-transform: rotate(219deg) translate(6px, 6px);;
        transform: rotate(219deg) translate(6px, 6px);;

      }
    }
  }
}